@model MvcArea.Ubicacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Ubicacion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_Recepcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_Recepcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ubicacion1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ubicacion1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombreSalon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreSalon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Iluminacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Iluminacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ObrasMaximas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ObrasMaximas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tamaño)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tamaño)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
