@model MvcArea.Artistas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Artistas</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_Artista)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_Artista)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rut)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rut)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nacionalidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nacionalidad)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
